
/* ================================================
 * Variable
 * ================================================ */

$color: #7C7C7C;
$color-primary: #0058A8;
$color-azure: #00B2F0;
$color-azure-sort: #E5F6FD;
$color-success: #C1D62F;
$color-smartapp: #25AE88;